<div class="body">
<div class="banner">
  <h1>Cocktails</h1>
</div>


<div class="card-container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
       <div class="col-xs-12 col-sm-4">
        <div class="card" style=
        <% if cocktail.photo? %>
          "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path cocktail.photo%>);"
        <% else %>
        "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1511715112108-9acc6c3ff61f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');"
        <% end %>
        >
          <div class="card-description">
          </div>
          <%= link_to  cocktail.name, cocktail_path(cocktail)%>
        </div>
       </div>
    <% end %>
  </div>
</div>


  <hr>

</div>




