<div class="body">
<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <i class="fas fa-cocktail"></i>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <div class="recipe-list container">
       <%= link_to "Add a cocktail", new_cocktail_path %>
    </div>

  </div>

</div>

<div class="banner">
  <h1>Cocktails</h1>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
       <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
<!--           <div class="card-category">Popular</div> -->
          <div class="card-description">
          </div>
          <%= link_to  cocktail.name, cocktail_path(cocktail)%>
        </div>
       </div>
    <% end %>
  </div>
</div>


  <hr>

</div>




