.navbar-wagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 16px 24px;
  color: navy;
}

.navbar-wagon .brand {
  width: 40px;
}

.navbar-wagon .navbar-wagon-actions {
  display: flex;
  align-items: center;
}

.navbar-wagon .navbar-wagon-actions .navbar-lewagon-link {
  margin-left: 24px;
  color: #999999;
}
.navbar-wagon .navbar-wagon-actions .navbar-lewagon-link:hover {
  color: #151515;
}


.navbar-wagon .navbar-wagon-actions .avatar {
  margin-left: 24px;
}

.navbar-wagon .dropdown-toggle {
  cursor: pointer;
}
