.body {
  background-color: white;
  opacity: 0.9;
  width: 100%;

}

h1 {
  height: 400px;
  color: white;
  padding-top: 50px;
  font-size: 80px;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1520970894104-c336b2013a60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

i {
  font-size: 50px;
}

a {
  color: navy;
}

.container {
  padding-top: 8px;
}

.card a {
    font-size: 20px;
    opacity: .9;
    color: white;
  }
